<<<<<<< Updated upstream
@charset "UTF-8";

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.botãodevoltar a img {
    margin-top: 20px;
    background-color: aqua;
    border-radius: 25px;
=======
@charset "UTF-8";

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.botãodevoltar a img {
    margin-top: 20px;
    background-color: aqua;
    border-radius: 25px;
>>>>>>> Stashed changes
}